.dataTypeSelectModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  .dataTypeSelectModalHeader__titleSection {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .dataTypeSelectModalHeader__title {
    width: 147px;
  }

  .dataTypeSelectModalHeader__searchBar {
    width: 300px;
    margin-left: 24px;
  }

}

.dataTypeSelectModalTab {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.dataTypeSelectModalItemList {
  padding: 0 24px;
  height: 480px;
  overflow-y: auto;
}

.dataTypeSelectModalItemList::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.dataTypeSelectModalItemList::-webkit-scrollbar-track {
  background-color: rgba(128, 125, 125, 0.23);
  border-radius: 4px;
}

.dataTypeSelectModalItemList::-webkit-scrollbar-thumb {
  background-color: #5e5353;
}

.dataTypeSelectModalCard {
  width: 170px;
  height: 130px;
  cursor: pointer;

  .dataTypeSelectModalCard__examples {
    font-size: 2px;
  }
}

.dataTypeSelectModalCard__selected {
  width: 170px;
  height: 130px;
  cursor: pointer;
  border-color: var(--semi-color-text-2);
  border-width: 2px;

  .dataTypeSelectModalCard__examples {
    font-size: 2px;
  }
}

.dataTypeSelectModalCard:hover {
  border-color: var(--semi-color-text-2);
}


@media screen and (max-width: 670px) {
  .dataTypeSelectModalHeader {
    align-items: normal;
  }
  .dataTypeSelectModalHeader__titleSection {
    display: block !important;
  }
  .dataTypeSelectModalHeader__searchBar {
    width: 100% !important;
    margin-left: 0px !important;
    margin-top: 12px;
  }
  .dataTypeSelectModalItemList {
    padding: 0 9px 0 1px;
  }

}
