.dataFieldsList{
  margin-top: 24px;
  overflow-y: scroll;
}

.dataFieldsList .dataFieldList__bottomButton{
  cursor: pointer;
  text-align: center;
  margin-bottom: 24px;
}

.dataFieldsList::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.dataFieldsList::-webkit-scrollbar-track {
  background-color: transparent;

}

.dataFieldsList::-webkit-scrollbar-thumb {
  background-color: transparent;
}

