.generatorConfig_column {
  padding: 6px;
  display: flex;
  flex-direction: column;

  .generatorConfig_column__label{
    color: var(--semi-color-text-0);
    font-weight: normal;
    font-size: small;
    margin-left: 6px;
    margin-bottom: 6px;
  }
}

