@import '~@semi-bot/semi-theme-mockdatanz/semi.min.css';
@import 'react-reflex/styles.css';
@import './variables.scss';

body {
  margin: 0;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

j
.justify-center {
  justify-content: center;
}

.h-screen {
  height: 100vh;
}

.sticky {
  position: sticky;
}

.grow {
  flex-grow: 1;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.z-1 {
  z-index: 1;
}

.cm-editor {
  padding-left: 16px;
}

.margin-top-18 {
  margin-top: 18px;
}

.margin-left-6 {
  margin-left: 6px;
}


.cm-scroller::-webkit-scrollbar-track {
  background-color: transparent;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(128, 125, 125, 0.23);
  border-radius: 4px;
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
  background-color: #5e5353;
}

.cm-scroller::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.semi-table-body::-webkit-scrollbar-track {
  background-color: transparent;
}
.semi-table-body::-webkit-scrollbar{
  background-color: transparent;
  width:0
}

.semi-table-body::-webkit-scrollbar-thumb {
  background-color: rgba(128, 125, 125, 0.23);
  border-radius: 4px;
}

.semi-table-body::-webkit-scrollbar-thumb:hover {
  background-color: #5e5353;
}

.semi-select-option-list::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.semi-select-option-list::-webkit-scrollbar-track {
  background-color: rgba(128, 125, 125, 0.23);
  border-radius: 4px;
}

.semi-select-option-list::-webkit-scrollbar-thumb {
  background-color: #5e5353;
}