@import '~@semi-bot/semi-theme-mockdatanz/semi.min.css';
@import 'react-reflex/styles.css';
@import './variables.scss';
@import './scrollbars.scss';
@import './generators.scss';

body {
  margin: 0;
  height: 100vh;
  background-color: var(--semi-color-bg-0);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

j
.justify-center {
  justify-content: center;
}

.h-screen {
  height: 100vh;
}

.sticky {
  position: sticky;
}

.grow {
  flex-grow: 1;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.pa-2 {
  padding: 8px;
}

.z-1 {
  z-index: 1;
}

.gap-2 {
  gap: 8px;
}

.cm-editor {
  padding-left: 16px;
}

.margin-top-18 {
  margin-top: 18px;
}

.margin-left-6 {
  margin-left: 6px;
}

.mr-2 {
  margin-right: 8px;
}

.no-select-area {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-btn {
  color: var(--semi-color-text-2) !important;
}
