.splitter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splitter::before {
    content: '';
    position: absolute;    
    background-color: #999;
    border-radius: 25px;
    width: 36px;
    height: 6px;
    margin-top: 16px;
}

.splitter:global(.vertical)::before
{
    width: 6px;
    height: 36px;    
    margin-left: 16px;
}

