.hamburgerIcon {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .hamburgerIcon {
        display: block !important;
    }

    .navItems {
        display: none !important;
    }
}