.background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(130px);
    opacity: .6;
    z-index: 1;
}

.background:before, .background:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    z-index: 1;
}

body[theme-mode="light"] .background:before {
    top: 20%;
    background-color: var(--color-before-light); /* Light mode color */
}

body[theme-mode="light"] .background:after {
    left: 30%;
    background-color: var(--color-after-light); /* Light mode color */
}

body[theme-mode="dark"] .background:before {
    top: 20%;
    background-color: var(--color-before-dark); /* Dark mode color */
}

body[theme-mode="dark"] .background:after {
    left: 30%;
    background-color: var(--color-after-dark); /* Dark mode color */
}

.inputPanel{
    padding: 0 24px;
    height: 100%;
    position: relative;
    width: 100%;
}

.treeSelect {
    margin-top: 12px;
    z-index: 3;
}

