.toolbar{
    border: 1px solid var(--semi-color-border);
    border-radius: var(--semi-border-radius-small);
    padding: 12px;
    background-color: var(--semi-color-nav-bg);
}

.generateButton{
    border-radius: var(--semi-border-radius-small);
}
